table{
    border: 2px solid;
    border-collapse:collapse;
    margin: 16px;
    font-weight: bold;
}

table td, table th{
    border: 2px solid;
    padding: 8px;
    text-align: center;
}

table th{
    background-color: blueviolet;
}

.tablas{
    display: flex;
    justify-content: center;
}

.mas{
    background-color: green;
}